.card-header{
    background-color: rgb(56, 91, 122);
}
.textoFooter{
    color: rgb(56, 91, 122);
    font-size: small;
}
.botonFooter {
    background-color: white;
    border: none;
    color: rgb(56, 91, 122);
    font-size:x-small;
}
span{
    font-weight: bold;
}
.botonFooter:hover{
    background-color: rgb(56, 91, 122);
    color: white;
}